/* CTA----------------------------------------------------------------------------------------------------------- */
#cta {
  background-color: #ce1b28;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(123.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; }

  #cta label {
    color: #000; }

#cta input[type="text"]{
    color: black;
}

#cta input[type="password"]{
   color: black;
}


  #cta textarea {
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); 
}
  @media screen and (max-width: 980px) {
    #cta {
      background-attachment: scroll; } }

/* Wrapper-------------------------------------------------------------------------------------------------- */
.wrapper {
    /*Sección del espacio del formulario entre la parte superior y la parte inferior */ 
  padding: 100px 0 50px 0 ;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1280px) {
    .wrapper {
      padding: 4rem 0 2rem 0 ; } }
  @media screen and (max-width: 736px) {
    .wrapper {
      padding: 3rem 0 1rem 0 ; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 2rem 0 0.1rem 0 ; } }

/* Footer------------------------------------------ */
#footer {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 1;
    bottom: 0;
  width: 100%;
  height: 50px;
    text-align: center;
      font-size: 15px;
}
  @media screen and (max-width: 1280px) {
    #footer {
      padding: 4rem 0 2rem 0 ; } }
  @media screen and (max-width: 980px) {
      #footer .content section {
        width: 50%; }
        #footer .content section:first-child {
          width: 100%;
          padding-right: 0; } }
body {
  margin:0px;
  font-family:"Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
   background:  ;
}
.copyright{
    text-align: center;
}
