@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");


body {
  margin:0px;
  font-family:"Raleway", Arial, Helvetica, sans-serif;
 font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;     
}

input[type="submit"]{
    margin-left: 30px;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea,p {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

input[type="submit"]{
   height:50px;
  width:110px;
   cursor:pointer;
   background-color:#0E7CEA;
    background: -webkit-gradient(linear, left top, left bottom, from(#0E7CEA), to(#1370CE));
    background: -webkit-linear-gradient(top, #0E7CEA, #1370CE);
    background: -moz-linear-gradient(top, #0E7CEA, #1370CE);
    background: -ms-linear-gradient(top, #0E7CEA, #1370CE);
    background: -o-linear-gradient(top, #0E7CEA, #1370CE);
    background: linear-gradient(top, #0E7CEA, #1370CE);
     border: 1px solid #143FB3;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #75A7D9;
    -webkit-box-shadow: 0 1px 0 0 #75A7D9 inset ;
    -moz-box-shadow: 0 1px 0 0 #75A7D9 inset;
    -ms-box-shadow: 0 1px 0 0 #75A7D9 inset;
    -o-box-shadow: 0 1px 0 0 #75A7D9 inset;
    color: white;
    padding:2px;
    margin: 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #CCDBEA;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  text-decoration: none;
  margin: 0px;
}


input[type="reset"]{
    height:50px;
  width:110px;
   cursor:pointer;
   background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
     border: 1px solid #338C12;
    border-bottom: 1px solid #77F713;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding:2px;
    margin: 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 3.25rem;
  line-height: normal;
  text-decoration: none;

}

input[type="button"]{
  background-color: #dadada;
   -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  color:black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

button{
     height:50px;
  width:110px;
   cursor:pointer;
   background-color: #68b12f;
   border: 0;
    border-bottom: 1px solid #77F713;
    border-radius: 4px;
    -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding:2px;
    margin: 2px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  
}

.btn-group .informacion {
  background-color:#40BFE5 ;
   -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  color:white;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;  
      
}

.btn-group .button:hover {
    background-color: #3BC4EC;
}


h1 {
  font-size: 3rem;
  line-height: 1.2; }

h2 {
  font-size: 2.25rem;
  line-height: 1.3; }



@media screen and (max-width: 736px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3; }

  h2 {
    font-size: 1.75rem;
    line-height: 1.5; }


h1, h2, h3, h4, h5, h6 {
  color: #555555; }
  h3{
    text-align: center;
    font-size: bold;
    
  }
  h2{
    margin: 30px;
  }


 input[type=text]{
   border: 2px solid #dadada;
     max-width:100px;
  width: 80%;
  line-height:3em;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin:30px;
  border-radius:5px;
  outline:none;
  padding-left:10px;
  
}
input[type=text]:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  
}
label {
  text-align: left;
  color:#0E0F11;
  font-weight: bold;

}
p{
  font-weight: bold;
  color:#0E0F11;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #1A47E3;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* estilo de busqueda*/
input[type=text]{
    border: 2px solid #dadada ;
     max-width:400px;
  width: 80%;
  line-height:3em;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin:1em 2em;
  border-radius:5px;
  outline:none;
  padding-left:10px;
    
}

input[type=text]:focus{
  outline: none;
    border-color: #64CCF6;
    box-shadow: 0 0 10px #64CCF6;
    
}


input[type=date]{
  border: 2px solid #dadada;
  box-shadow: 0px 0px 3px #ccc, 0 10 px 15px #666 inset;
  border-radius: 2px;
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 30px;
  width: 150px;
  padding: 5px 8px;
  margin: 1em 2em;
  text-align: center;
  border-collapse: separate;
    
}
input[type=date]:focus{
   outline: none;
    border-color: #64CCF6;
    box-shadow: 0 0 10px #64CCF6;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    max-width: 900px;
    max-height: 600px;
    align-items: center;

}
#tablas{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    max-width: 900px;
    max-height: 600px;
    align-items: center;
}
th, td {
    text-align: center;
    padding: 4px;
    margin: 30px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
}
table {
  border-collapse: collapse;
  border-spacing: 0; }
.main-wrapper{
 width:80%;
 margin:0 auto;   
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 5;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position:relative;
    z-index: 3;
    
}
strong{
    color: #4fc0ff;
    font-weight: 300;
}
#admin{
    color: #ce1b28;
    font-weight: 300;
}

h1{
   font-size: 3rem;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6,a{
  font-weight: lighter;
  line-height: 1.5;
  text-transform: none;
  color: inherit;
  text-decoration: none;

}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family:"Raleway", Arial, Helvetica, sans-serif;
  background: #000;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a  {
font-weight: 300;    
  padding: 17px;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #444444;
     color: rgba(255, 255, 255, 0.5);
    -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
     -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;  
}

#heading {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-color: #111111;
  color: #fff;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url(../../123.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 15rem !important;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
padding-top: 0rem;    
}
  #heading:before {
    background: linear-gradient(135deg, #4fc0ff  0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
  #heading h1 {
    margin-bottom: 1;
      position: relative
      text-align: center;
    z-index: 2;
}



